<extend name="./Component/_master" />
<block name="style">
</block>
<block name="body">

<include file="./Component/_search" addpath="{:U('Activity/add')}"/>


<div class="col-xs-12">
    <div class="animated fadeInUp">
        <volist name="activityList" id="activity" empty="暂无活动信息">
          <div class="list-group">
              <div class="list-group-item title">
                <span class="text-primary">
                  <i class="fa fa-tag"></i>
                  {$activity.name}
                </span>
                <include file="./Component/_godetail" detailpath="{:U('Activity/detail')}?id={$activity.id}"/>
              </div>
              <div class="list-group-item">
                <div class="dateRangeSelector" 
                  data-fromVal="{$activity.startdate}"
                  data-toVal="{$activity.enddate}"></div>
              </div>
              <div class="list-group-item">
                  活动门店：
                  <if condition="$activity.store_name eq '' ">
                    <span>所有门店</span>
                  <else/>
                    <a class="text-danger" href="{:U('Store/detail')}?id={$activity.storeid}">
                      {$activity.store_name}
                    </a>
                  </if>
              </div>
              <div class="list-group-item">
                  店长信息：
                  <if condition="$activity.store_admin_realname eq '' ">
                    <span>无</span>
                  <else/>
                    <a class="text-danger tooltip-title" href="{:U('Admin/detail')}?id={$activity.store_admin_id}" data-toggle="tooltip" data-placement="right" title="{$activity.store_admin_phone}">
                      {$activity.store_admin_realname}
                    </a>
                  </if>
              </div>
            </div>
        </volist>
    </div>
</div>
</block>
<block name="script">
</block>