<extend name="./Component/_master" />
<block name="title">
    最新活动
</block>
<block name="style">
	<style type="text/css">
		body{
			background-color: #fff;
		}
	</style>
</block>
<block name="body">
<div class="animated">
	
	<empty name="activityList">
        <div class="data-empty">
          暂无活动信息
        </div>
    <else />
    	<volist name="activityList" id="activityInfo">
    		<if condition="$activityInfo.istop eq '1'">
				<div class="activity-header">
					<a href="{:U('activity/detail')}?id={$activityInfo.id}">
						<img src="{$activityInfo.pic}"/>
					</a>
				</div>
    		<else/>
    			<?php
                    $startDate = convertDateStr($activityInfo["startdate"]);
                ?>
				<div class="activity-item">
					<a href="{:U('activity/detail')}?id={$activityInfo.id}">
						<div class="activity-img">
							<img src="{$activityInfo.pic}"/>
						</div>
						<div class="activity-content">
							<h5 class="text-danger">{$activityInfo.point}</h5>
							<p>{$activityInfo.name}</p>
							<label>{$startDate}</label>
							<span>
								<i class="iconfont icon-arrow-right"></i>
							</span>
						</div>
					</a>
					<div class="clearfix"></div>
				</div>
    		</if>
    	</volist>
   	</empty>
</div>
</block>
<block name="script">
</block>