<extend name="./Component/_master" />
<block name="title">
    帮助说明
</block>
<block name="style">
</block>
<block name="body">
<div class="animated">
    
    <div class="well well-title" data-toggle="collapse" href="#help1">
        常见问题一
    </div>
    <div class="collapse" id="help1">
        <div class="well well-sm">
            更为重要的是，阿里巴巴付出的可是全部都是现金，而不是采用换股的方式，这就更堪称大方了。当然，这可能一方面是因为想要套现的股东们更喜欢现金，也有可能是阿里巴巴方面认为其股价尚有极大升值空间，而不愿意换股。
        </div>
    </div>
    
    <div class="well well-title" data-toggle="collapse" href="#help2">
        常见问题二
    </div>
    <div class="collapse" id="help2">
        <div class="well well-sm">
            更为重要的是，阿里巴巴付出的可是全部都是现金，而不是采用换股的方式，这就更堪称大方了。当然，这可能一方面是因为想要套现的股东们更喜欢现金，也有可能是阿里巴巴方面认为其股价尚有极大升值空间，而不愿意换股。
        </div>
    </div>

    <div class="well well-title" data-toggle="collapse" href="#help3">
        常见问题三
    </div>
    <div class="collapse" id="help3">
        <div class="well well-sm">
            更为重要的是，阿里巴巴付出的可是全部都是现金，而不是采用换股的方式，这就更堪称大方了。当然，这可能一方面是因为想要套现的股东们更喜欢现金，也有可能是阿里巴巴方面认为其股价尚有极大升值空间，而不愿意换股。
        </div>
    </div>

</div>
</block>
<block name="script">
</block>