<div class="col-xs-12">
  <div class="well well-sm">
       <div class="row">
         <div class="col-xs-10">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="关键字搜索..." id="txt-search">
              <span class="input-group-addon" id="btn-search">
                <i class="fa fa-search"></i>
              </span>
           </div>
        </div>
        <div class="col-xs-2">
            <div class="text-right">
               <a href="[addpath]" class="btn btn-sm btn-primary">
                 新增
               </a>
            </div>
        </div>
       </div>
  </div>
</div>